.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# api clutter
ProductFunctions/.vs
ProductFunctions/Services/bin/Debug/net6.0/Services.deps.json
ProductFunctions/Services/bin/Debug/net6.0/Services.dll
ProductFunctions/Services/bin/Debug/net6.0/Services.pdb
ProductFunctions/Services/obj/project.assets.json
ProductFunctions/Services/obj/project.nuget.cache
ProductFunctions/Services/obj/Services.csproj.nuget.dgspec.json
ProductFunctions/Services/obj/Services.csproj.nuget.g.props
ProductFunctions/Services/obj/Services.csproj.nuget.g.targets
ProductFunctions/Services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ProductFunctions/Services/obj/Debug/net6.0/Services.AssemblyInfo.cs
ProductFunctions/Services/obj/Debug/net6.0/Services.AssemblyInfoInputs.cache
ProductFunctions/Services/obj/Debug/net6.0/Services.assets.cache
ProductFunctions/Services/obj/Debug/net6.0/Services.csproj.AssemblyReference.cache
ProductFunctions/Services/obj/Debug/net6.0/Services.csproj.BuildWithSkipAnalyzers
ProductFunctions/Services/obj/Debug/net6.0/Services.csproj.CoreCompileInputs.cache
ProductFunctions/Services/obj/Debug/net6.0/Services.csproj.FileListAbsolute.txt
ProductFunctions/Services/obj/Debug/net6.0/Services.dll
ProductFunctions/Services/obj/Debug/net6.0/Services.GeneratedMSBuildEditorConfig.editorconfig
ProductFunctions/Services/obj/Debug/net6.0/Services.GlobalUsings.g.cs
ProductFunctions/Services/obj/Debug/net6.0/Services.pdb
ProductFunctions/Services/obj/Debug/net6.0/ref/Services.dll
ProductFunctions/Services/obj/Debug/net6.0/refint/Services.dll
ProductFunctions/Services/obj/project.assets.json
ProductFunctions/Services/obj/project.nuget.cache
ProductFunctions/Services/obj/Services.csproj.nuget.dgspec.json
ProductFunctions/Services/obj/Services.csproj.nuget.g.props
ProductFunctions/Services/obj/Services.csproj.nuget.g.targets
ProductFunctions/Services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ProductFunctions/Services/obj/Debug/net6.0/Services.AssemblyInfo.cs
ProductFunctions/Services/obj/Debug/net6.0/Services.AssemblyInfoInputs.cache
ProductFunctions/Services/obj/Debug/net6.0/Services.assets.cache
ProductFunctions/Services/obj/Debug/net6.0/Services.csproj.AssemblyReference.cache
ProductFunctions/Services/obj/Debug/net6.0/Services.csproj.BuildWithSkipAnalyzers
ProductFunctions/Services/obj/Debug/net6.0/Services.csproj.CoreCompileInputs.cache
ProductFunctions/Services/obj/Debug/net6.0/Services.csproj.FileListAbsolute.txt
ProductFunctions/Services/obj/Debug/net6.0/Services.dll
ProductFunctions/Services/obj/Debug/net6.0/Services.GeneratedMSBuildEditorConfig.editorconfig
ProductFunctions/Services/obj/Debug/net6.0/Services.GlobalUsings.g.cs
ProductFunctions/Services/obj/Debug/net6.0/Services.pdb
ProductFunctions/Services/obj/Debug/net6.0/ref/Services.dll
ProductFunctions/Services/obj/Debug/net6.0/refint/Services.dll
